/composer.lock
*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
/fuel/vendor
/fuel/app/logs/*/*/*
/fuel/app/cache/*/*
/fuel/app/tmp/*
nbproject/
/fuel/app/config/development
/fuel/app/bootstrap.php
/docs/*
fuel/app/config/production
fuel/app/uploads